# Ignore node_modules since we'll install dependencies fresh
node_modules

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore Angular build output
dist
build

# Ignore environment files
.env
*.env

# Ignore Git-related files
.git
.gitignore

# Ignore Docker-related files (optional if you don’t need them in the image)
.dockerignore
Dockerfile

# Ignore OS and editor files
.DS_Store
*.swp
*.swo
.idea
.vscode
