.btn {
  background-color: rgb(0, 124, 40);
  color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border: none;
  height: 30px;
  font-weight: bolder;
  font-size: 13px;
}

/* Remove dots from list items */
ul {
  list-style-type: none; /* Removes the bullets */
  padding: 0; /* Optional: removes default padding */
  margin: 0; /* Optional: removes default margin */
}

/* Optional: Add custom styles for list items */
ul li {
  padding: 5px 0; /* Adds some spacing between items */
  border-bottom: 1px solid #ddd; /* Optional: adds a subtle separator line */
}

ul li:last-child {
  border-bottom: none; /* Removes separator for the last item */
}
.modal-dialog {
  max-height: 70vh;
}
/* Beperkt de hoogte van de modal */
.modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Zorgt ervoor dat de header en footer vaststaan */
.modal-header,
.modal-footer {
  height: 10%;
  flex-shrink: 0; /* Zorgt ervoor dat ze niet verkleinen */
}
.modal-body {
  max-height: 65vh;
}
/* Zorgt ervoor dat de body scrollbaar is */
.feedtype-list {
  overflow-y: auto;
  flex-grow: 1; /* Laat de body groeien en ruimte innemen */
  margin-bottom: 1rem; /* Optionele marge onderaan voor visuele afstand */
  max-height: 30vh;
}

.ration-list {
  list-style: none; /* Removes default bullets */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.ration-item {
  display: flex; /* Enables flexbox for the list item */
  justify-content: space-between; /* Pushes content to the edges */
  align-items: center; /* Centers content vertically */
  padding: 5px 10px; /* Adds spacing around each item */
  border-bottom: 1px solid #e5e5e5; /* Optional: Adds a divider between items */
}

.ration-name {
  flex-grow: 1; /* Ensures the name takes up available space */
}

.add-btn {
  background-color: rgb(0, 124, 40); /* Matches the button color */
  color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border: none;
  font-weight: bold;
  font-size: 13px;
  padding: 5px 10px; /* Adjusts button size */
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
  border: 2px solid rgb(0, 124, 40); /* Thicker border in a noticeable blue color */
  border-radius: 3px; /* Optional: rounded corners */
  cursor: pointer; /* Pointer cursor for better UX */
}

input[type='checkbox']:checked {
  background-color: rgb(
    0,
    124,
    40
  ); /* Optional: a light blue background when checked */
  border-color: rgb(0, 124, 40); /* Darker blue border when checked */
}

.modal-title {
  color: rgb(0, 124, 40); /* Dark green color */
  font-weight: bold; /* Optional: make it bold for better emphasis */
}
